# ========================================
# AIRFLOW CORE
# ========================================
AIRFLOW_UID=1000
AIRFLOW_BASE_IMAGE=apache/airflow:3.2.1
AIRFLOW_IMAGE_NAME=amalitech-airflow:3.2.1
AIRFLOW_PROJ_DIR=.

# Security & Auth
AIRFLOW__CORE__FERNET_KEY=YOUR_SECURE_KEY_HERE
AIRFLOW__API_AUTH__JWT_SECRET=YOUR_SECURE_SECRET_HERE
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=YOUR_STRONG_PASSWORD

# ========================================
# POSTGRES (Airflow Metadata + Target DB)
# ========================================
POSTGRES_USER=airflow
POSTGRES_PASSWORD=YOUR_STRONG_POSTGRES_PWD
POSTGRES_DB=airflow
TARGET_DB=target

# ========================================
# MINIO
# ========================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=YOUR_STRONG_MINIO_PWD