# ========================================
# AIRFLOW CORE
# ========================================
AIRFLOW_UID=1000
AIRFLOW_BASE_IMAGE=apache/airflow:3.2.1
AIRFLOW_IMAGE_NAME=amalitech-airflow:3.2.1
AIRFLOW_PROJ_DIR=.

# Security & Auth
AIRFLOW__CORE__FERNET_KEY=7WkE-dXRgadyPBouiDspTg-WsjqwCU10y2HR1EEEsjA=
AIRFLOW__API_AUTH__JWT_SECRET=c55AuMVLGQyNXaaxjjkhmQVMtLGI1KpWBvnK8208q92O
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# ========================================
# POSTGRES (Airflow Metadata + Target DB)
# ========================================
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
TARGET_DB=target

# ========================================
# MINIO
# ========================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin